.frame{
    display:flex; /* 讓下一層次的項目水平排列*/
}

.left{
    background-color: mediumslateblue;
    flex:none; /* 固定配置 */
    width:250px;
    text-align:center;
}

.right{
    background-color: greenyellow;
    display:flex; /* 讓下一層次的項目水平排列 */
    flex:auto ;/* 自動將剩餘空間填滿 */
    justify-content: center;

}

.item{
    background-color: #cccccc;
    flex:none;
    width: 100px;
    text-align:center;
    margin-right:10%;
    margin-left:10%;

}

.welcome{
    background-color:#cccccc ;
    display:flex;
    justify-content: center;
    align-items: center; /*垂直對齊 */
    height: 200px;
}

.text{
    font-size: 30px;
    font-weight: bold;
    text-align: center;

}